@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    background: #e7c8de;
    background-image: linear-gradient(to bottom right, #d7b6f5, #f3cce0);
}

/* FORM DAFTAR */
form{
    width: 420px;
    background: #fff0f7;
    padding: 35px;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    border: 4px solid #f5d2e8;
}

form h1{
    text-align: center;
    margin-bottom: 30px;
    color: #b0447c;
    font-size: 30px;
    font-weight: bold;
}

/* INPUT */
.forms{
    margin-bottom: 18px;
}

.forms label{
    display: block;
    margin-bottom: 8px;
    color: #9b4d7a;
    font-weight: bold;
    font-size: 15px;
}

.forms input{
    width: 100%;
    padding: 12px;
    border-radius: 14px;
    border: 2px solid #f1bfdc;
    outline: none;
    background: white;
    transition: 0.3s;
    font-size: 14px;
}

.forms input:focus{
    border-color: #c784c3;
    box-shadow: 0 0 8px rgba(199,132,195,0.4);
}

/* BUTTON */
.tombol{
    margin-top: 10px;
}

button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(to right, #d98cc5, #b58ce6);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.03);
    opacity: 0.9;
}

/* LINK */
a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #a04b7b;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

a:hover{
    color: #c46ab0;
}